
function Sys.min 0
    push argument 0
    push argument 1
    gt
    if-goto ARG0_GREATER_MIN
    push argument 0
    goto MIN_END
label ARG0_GREATER_MIN
    push argument 1
label MIN_END
    return



function Sys.max 0
    push argument 0
    push argument 1
    gt
    if-goto ARG0_GREATER_MAX
    push argument 1
    goto MAX_END
label ARG0_GREATER_MAX
    push argument 0
label MAX_END
    return




function Sys.range 2
    push argument 1
    push constant 1
    gt
    not
    if-goto RETURN_ZERO
    push argument 0
    pop pointer 1
    push that 0
    pop local 0
    push that 0
    pop local 1
    push constant 1
    pop temp 0
label LOOP
    push temp 0
    push argument 1
    lt
    not
    if-goto END_LOOP
    push local 0
    push argument 0
    push temp 0
    add
    pop pointer 1
    push that 0
    call Sys.min 2
    pop local 0
    push local 1
    push argument 0
    push temp 0
    add
    pop pointer 1
    push that 0
    call Sys.max 2
    pop local 1
    push temp 0
    push constant 1
    add
    pop temp 0
    goto LOOP
label END_LOOP
    push local 1
    push local 0
    sub
    return
label RETURN_ZERO
    push constant 0
    return



function Sys.init 0
    call Sys.range 2
label WHILE
    goto WHILE
